.project-modal-box {
    position: fixed;
    padding:5em 0.95rem;
    top:0;
    left:100%;
    height: 100vh;
    background:var(--modalBackground);
    color:var(--textColor);
    width: 100%;
    z-index: 900;
    transition:all 0.5s cubic-bezier(0.47, 0, 0.745, 0.715);
  }
  .project-modal-box.visible {
    left:0!important;
  }
  .remove-btn {
    cursor:pointer;
    width:60px;
    font-size:1.8em;
  }
  .modal-background-image {
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
  }

  .project-link {
    padding:1em;
    a {
        color:var(--textColor);
        font-size:1.5em;
        &:visited {
          color:var(--textColor);
        }
    }
  
  }

  @media (min-width:1024px) {
    .project-modal-box {
      padding:100px 5em;
    }

    .modal-background-image {
      width: 100%;
      height: 500px;
      background-size: cover;
      background-position: center;
    }
  }