.not-found-container {
    display:flex;
    align-items:center;
    justify-content:center;
    height:100vh;
    text-align:center;
    h1 {
        font-size:5em;
    }

    a {
        color:white;
        text-decoration: none;
        &:visited {
            color:white;
        }
    }
}