.socials.social-fixed-left {
    display:none;
 }
 
 .socials {
     display: flex;
 }
 
 .social-link {
     width: 48px;
     cursor: crosshair;
 }

 .socials.theme-dark {
    svg {
        filter: invert(88%) sepia(21%) saturate(935%) hue-rotate(123deg) brightness(85%) contrast(97%);
    }
    
}
 
 @media(min-width:1024px) {
     .socials.social-fixed-left {
         position: fixed;
         display: block;
         top: 50%;
         left: 10px;
         transform: translate(0, -50%);
     }
 }